*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    margin-top: 5px;
    margin-left: 100px; 
  
}

.navbar{
         width: 100%;
        height: 56px;
        padding: 8px 100px;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

.menu {
   display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.menu li {
   display: inline; 
   font-size: 20px ;
   gap: 10px;
   
}
.menu li a{
    text-decoration: none;
    color: black;
    padding: 16px;
    
}
@font-face {
    font-family: Open sams;
    src: url(roboto/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}
.contact button {
   background-color:  rgba(0, 186, 252, 1);
   padding: 15px;
   width: 200px; 
    margin-right: 50px;
   margin-top: 20px;
   border-radius: 10px;
   color: white;
   border: white;
}

.content {
    display: flex;
    margin:  97px 97px;
    gap: 328px;
    
}
.content h2{
    font-size: 30px;
    line-height: 39px;
    font-family: Open sams;
}
.content p{
    font-size: 16px;
    margin-top: 30px;

    line-height: 24px;
    font-family: Open sams;
}


.video-section img {
    width: 100%;
}

.btn{
   margin-top: 15px;
}
.btn button{
   width: 232px;
   height: 40px;
   border-radius: 5px;
   padding: 8px 16px 8px;
   background-color: rgba(0, 186, 252, 1);
   border: white;
   color: white;
  
}

.services {
    text-align: center;
}

.service-item {
    display: inline-block;
    margin: 20px;
}

.service-item img {
    width: 100px;
    height: 100px;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    cursor: pointer;
}
.section-desc h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    margin-top: 56px;

}

.section-desc p{
    width: 719px;
    height: 48px;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color:#000;
    margin: 16px auto;
}

.boxes-item{
    width: 320px;
    height: 260px;
    border: radius 5px;
    margin-left: 100px;
    text-align: center;
  

}

.boxes-items{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 70px;
    flex-wrap: wrap;
    padding-top: 24px;
    

}

.boxes-item img{
    width: 202px;
    height: 130px;


}
.boxes-item h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color:#000;
    padding-top: 16px;


}

.boxes-item p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#000;

}

.box-links{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 16px;
    text-align: center;
    margin-top: 40px;  
    
}
.btn-order{
    width: 167px;
    height: 40px;
    border-radius: 5px;
    border:none;
    padding: 8px 16px;
    background-color:#00BAFC;
    color:#fff;
    text-align: center;


}

.btn-order a{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color:#00BAFC;

} 
.servises-desc h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color:#000;
    margin-top: 56px;


}
.servises-desc p{
    width: 719px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color:#000;
    margin: 16px auto;

}
.servises-desc-left img{
    width: 300px;
    height: 278px;

}
.servises-all{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 32px;
    margin-top: 24px;

}

.section-servis{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 32px;
    margin-top: 48px;


}
.servises-desc-right h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color:#000;

}

.servises-desc-right p{
    width: 493px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;

}

.section-left h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color:#000;

}

.section-left p{
    width: 719px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#000;
    margin-top: 8px;

}

.section-right img{
    width: 300px;
    height: 224px;  

}

.section-deadline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 48px;
    gap: 32px;
} 
.wrapper-box{
	width: 100%;
	height: 543px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 56px;
	background-color: #00BAFC;
	gap: 16px;
}
.wrapper-box-heading{
	width: 719px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
}
.wrapper-box-heading h2{
	font-size: 24px;
	font-family: "open-med";
	font-weight: 700;
	line-height: 31.2px;
	color: #ffffff;
	text-align: center;
}
.wrapper-box-heading p{
	font-size: 16px;
	font-family: "open-med";
	font-weight: 400;
	line-height: 24px;
	color: #ffffff;
	text-align: center;
}
.wrapper-box-form{
	width: 348px;
	height: 304px;
	background-color: #F3F3F3;
	gap: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.wrapper-box-form form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 16px;
}
.wrapper-box-form form input{
	width: 300px;
	height: 56px;
	background-color: #F3F3F3;
	font-size: 16px;
	font-family: "open-med";
	font-weight: 400;
	line-height: 24px;
	color: #000000;
	padding: 16px;
	outline: none;
	border-radius: 5px;
}
.wrapper-box-form form select{
	width: 300px;
	height: 56px;
	background-color: #F3F3F3;
	font-size: 16px;
	font-family: "open-med";
	font-weight: 400;
	line-height: 24px;
	color: #000000;
	padding: 16px;
	outline: none;
	border-radius: 5px;

}
.wrapper-box-form button{
	padding: 8px 16px;
	border: none;
	border-radius: 5px;
	background-color: #00BAFC;
	font-family: "open-sans";
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: #fff;
	cursor: pointer;
}
.container-box{
	width: 100%;
	height: 338px;
	background-color: #191919;
	display: flex;
	align-items: start;
	padding: 56px 200px;
	gap: 100px;
}
.container-box-heading{
	width: 320px;
	height: 162px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.container-box-heading h2{
	font-size: 20px;
	font-family: "open-med";
	font-weight: 700;
	line-height: 26px;
	color: #ffffff;
}
.container-box-heading p{
	font-size: 16px;
	font-family: "open-med";
	font-weight: 400;
	line-height: 24px;
	color: #ffffff;
}
.container-box-options{
	width: 143px;
	height: 226px;
	gap: 16px;
	display: flex;
	flex-direction: column;
}
.container-box-options h2{
	font-size: 20px;
	font-family: "open-med";
	font-weight: 700;
	line-height: 26px;
	color: #ffffff;
}
.container-box-options ul{
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.container-box-options ul li{
	font-size: 16px;
	font-family: "open-med";
	font-weight: 400;
	line-height: 24px;
	color: #ffffff;
}
.container-box-messangers{
	width: 142px;
	height: 130px;
	gap: 16px;
	display: flex;
	flex-direction: column;
}
.container-box-messangers h2{
	font-size: 20px;
	font-family: "open-med";
	font-weight: 700;
	line-height: 26px;
	color: #ffffff
}
.container-box-messangers ul{
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.container-box-messangers ul li{
	font-size: 16px;
	font-family: "open-med";
	font-weight: 400;
	line-height: 24px;
	color: #ffffff;
	display: flex;
	gap: 8px;
}


